body{
  background-color: #f9f9fd;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 20px;
}
ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1666px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid gainsboro;
}
.list > .item {
  border: 1px solid rgb(226, 226, 236);
}
ul.list {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* align-items: stretch | flex-start | flex-end | center | baseline */

.box-parent {
 background-color: #aaafff; 
}
.box-inner {
  max-width: auto;
  margin: 0 auto;
  background-color: #fffaaa;
  text-align: center;
}

.box-parent,
.box-inner {
  padding: 20px;
  border-radius: 5px;
}